<ion-view view-title="Refeição">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-icon-left item-stable"><i class="icon ion-fork" style="font-size:3em;"></i> Janta</div>
      <div class="item item-body">
        <p>Seguir a lista abaixo, marque o que consumiu:</p>
      </div>
      <ul class="list">
        <li class="item item-toggle">
           1 Copo de água
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="agua">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Sopa de brócolis
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="brocolis">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           2 Torrada
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="torrada">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           1 Fatia de queijo branco
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="queijo">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           1 Fruta
           <label class="toggle toggle-balanced">
             <input type="checkbox" ng-model="fruta">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>